$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-bug-path1: "\e900";
$icon-bug-path2: "\e901";
$icon-bug-path3: "\e902";
$icon-bug-path4: "\e903";
$icon-dark-path1: "\e904";
$icon-dark-path2: "\e905";
$icon-dragon-path1: "\e906";
$icon-dragon-path2: "\e907";
$icon-dragon-path3: "\e908";
$icon-electric-path1: "\e909";
$icon-electric-path2: "\e90a";
$icon-fairy-path1: "\e90b";
$icon-fairy-path2: "\e90c";
$icon-fighting-path1: "\e90d";
$icon-fighting-path2: "\e90e";
$icon-fighting-path3: "\e90f";
$icon-fire-path1: "\e910";
$icon-fire-path2: "\e911";
$icon-flying-path1: "\e912";
$icon-flying-path2: "\e913";
$icon-ghost-path1: "\e914";
$icon-ghost-path2: "\e915";
$icon-grass-path1: "\e916";
$icon-grass-path2: "\e917";
$icon-ground-path1: "\e918";
$icon-ground-path2: "\e919";
$icon-ice-path1: "\e91a";
$icon-ice-path2: "\e91b";
$icon-ice-path3: "\e91c";
$icon-ice-path4: "\e91d";
$icon-ice-path5: "\e91e";
$icon-ice-path6: "\e91f";
$icon-ice-path7: "\e920";
$icon-normal-path1: "\e921";
$icon-normal-path2: "\e922";
$icon-physic-path1: "\e923";
$icon-physic-path2: "\e924";
$icon-poison-path1: "\e925";
$icon-poison-path2: "\e926";
$icon-rock-path1: "\e927";
$icon-rock-path2: "\e928";
$icon-steel-path1: "\e929";
$icon-steel-path2: "\e92a";
$icon-water-path1: "\e92b";
$icon-water-path2: "\e92c";

